<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  </head>
  <body>
    <div class="s01">
      <form>
        <fieldset style="margin-top: 300px;">
          <legend style="margin-left: 50px;">Search for movies</legend>
        </fieldset>
        <div class="inner-form" >
          <div class="input-field first-wrap">
            <input id="search" type="text" placeholder="What are you looking for?" [(ngModel)]="searchterm" (keydown)="search($event)">
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="button">Search</button>
          </div>
        </div>
      </form>
    </div>





  <div *ngIf="clubs?.length <1" style="text-align: center;">
    <br>
    <h2> Sorry, No match</h2>
  </div><br>

  <div *ngFor="let club of clubs" style="margin-left: 350px;">

    <ul>
      <li >
        <img src="{{club.img}}" alt="" style="width: 100px;height:150px">
        <h2>{{club.club}}</h2><br>
        <h4 style="color: grey;">{{club.country}}</h4>
      </li>
    </ul>

  </div>

  <img src="https://wallpaperplay.com/walls/full/d/2/2/124140.jpg" style="background-size: cover ;height: 400px; width:100%;margin-top:200px">
  </body>
</html>

